:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Revalia", sans-serif;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.hero {
    background: rgb(238, 239, 241);
    padding-top: 60px;
    min-height: 700px;
    padding-bottom: 146px;
}

.container {
    max-width: 1116px;
    margin: 0 auto;
    padding: 0px 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 140px;
}

.logo {
    width: 96px;
    height: 60px;
}

.header__logo {}

.logo__img {}

.nav {}

.nav__list {
    display: flex;
    column-gap: 42px;
}

.nav__item {}

.nav__link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 10%;
    transition: color 0.3s;
    text-transform: uppercase;
}

.nav__link:hover {
    color: rgb(52, 84, 122);
}

.hero__content {
    display: flex;
    gap: 30px;
}

.hero__img-wrap {
    width: 50%;
    text-align: center;
}

.hero__img {
    width: 360px;
}

.hero__desc {
    max-width: 540px;
}

.title {
    font-weight: 500;
    font-size: 48px;
    color: #000;
}

.hero__title {
    margin-bottom: 50px;
}

.subtitle {
    font-weight: 400;
    line-height: 164%;
    color: #727272;
    text-align: center;
}

.hero__subtitle {
    text-align: left;
    margin-bottom: 60px;
}

.btn-wrap {}

.btn {
    background: #34547a;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 164%;
    letter-spacing: 0.1em;
    text-align: center;
    color: #fff;
    display: inline-block;
    padding: 25px 40px;
    text-transform: uppercase;
}

.about {
    padding-top: 119px;
    padding-bottom: 100px;
    text-align: center;
}

.about__content {
    max-width: 540px;
    margin: 0 auto;
}

.section-title {
    font-weight: 500;
    font-size: 32px;
    color: #000;
    margin-bottom: 50px;
}

.subtitle {
    font-weight: 400;
    line-height: 164%;
    color: #727272;
    text-align: center;
}

.achievements {
    background-color: #34547a;
    padding: 100px 0px;

}

.achievements__list {
    display: flex;
    justify-content: space-between;
}

.achievements__items {}

.achievement {
    display: flex;
    align-items: flex-end;
}

.achievement__icon {}

.achievement__desc {
    color: snow;
    align-self: flex-end;
    margin-left: 10px;
}

.achievement__count {
    margin-bottom: 10px;
}

.achievement__text {
    margin-bottom: 5px;
}

.skills {
    padding: 100px 0px;
}

.skills__content {
    display: flex;
}

.skills__desc {
    width: 50%;
    padding-top: 100px;
}

.section-title {}

.skills__title {}

.skills__list {}

.skills__item {
    margin-bottom: 26px;
}

.skill {}

.skill__desc {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 14px;
}

/* стили для meter */

.skill__meter::-webkit-meter-bar {
    width: 445px;
    height: 7px;
    border-radius: 0px;
    border: none;
}

.skill__meter::-webkit-meter-optimum-value {
    background: seagreen;
}

.skills__img-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills__img {
    width: 555px;
    height: 450px;
    object-fit: contain;
}

.demo {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #eeeff1;
    text-align: center;
}

.demo__content {}

.demo__text-wrap {
    max-width: 540px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.demo__text1 {
    font-weight: 500;
    font-size: 32px;
    color: #000;
    margin-bottom: 50px;
    text-align: center;
}

.demo__text2 {
    font-weight: 400;
    line-height: 164%;
    color: #727272;
    text-align: center;
}

.demo__vid-wrap {
    max-width: 100%;
    position: relative;
}

.demo__play {
    width: 100px;
    height: 100px;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
}

.demo__play:active {
    transform: translate(-50%, -50%) scale(0.9);
}

.projects__list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.projects__items {
    flex: 1 0 25%;
}

.work {}

.project__link {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

.projects {}

.projects__items {}

.work {}


.work__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work__overlay-wrap {
    position: absolute;
    background-color: rgba(52, 84, 122, 0.8);
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.4s;
}

.work__overlay {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.project__link:hover .work__overlay-wrap {
    height: 100%;
    transition: 0.4s;
}

.partners {
    padding-top: 100px;
    padding-bottom: 100px;
}

.partners__list {
    display: flex;
    column-gap: 100px;
    justify-content: space-between;
}

.partners__items {
    width: 255px;
    height: 120px;
}

.partners__icon {}